#company {
  width: 100%;
  height: 2300px;
  position: relative;

  article {
    width: 1300px;
    height: 700px;
    background: url(../img/company_introduce/company_BG.jpg) center center;
    margin-bottom: 30px;
    border-radius: 0 50px 50px 0;
    float: left;
    position: relative;

    &:nth-of-type(2) {
      float: right;
      border-radius: 50px 0 0 50px;
    }

    h2 {
      font-family: "Noto Sans CJK KR";
      font-weight: 400;
      font-size: 120px;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
    }

    &:nth-of-type(odd) {
      h2 {
        bottom: 5%;
        right: 5%;
      }
    }

    &:nth-of-type(even) {
      h2 {
        bottom: 5%;
        left: 5%;
      }
    }
  }

  .first_page {
    .Bg {
      .bangwul {
        position: absolute;
        width: 600px;
        height: 600px;
        top: 7%;
        left: 5%;
      }
      p {
        font: 400 40px/1 "Noto Sans CJK KR";
        text-align: center;
        color: #fff;
        position: absolute;
        top: 10%;
        right: 5%;
      }

      span {
        a {
          display: block;
          width: 370px;
          font: 400 50px/1 "Noto Sans CJK KR";
          color: #000;
          text-align: center;
          position: absolute;
          top: 30%;
          right: 8%;
        }
      }
    }
  }

  .second_page {
    .Bg {
      .bangwul {
        position: absolute;
        width: 550px;
        height: 550px;
        top: 9%;
        right: 2%;
      }

      p {
        font: 400 40px/1 "Noto Sans CJK KR";
        text-align: center;
        color: #fff;
        position: absolute;
        top: 10%;
        left: 5%;
      }

      .icon {
        margin-left: 50px;

        span {
          display: inline-block;
          width: 200px;
          height: 200px;
          margin-top: 130px;
          margin-right: 15px;
        }
      }
    }
  }

  .third_page {
    .Bg {
      .bangwul {
        position: absolute;
        width: 600px;
        height: 600px;
        top: 7%;
        left: 5%;
      }
      p {
        font: 400 40px/1 "Noto Sans CJK KR";
        text-align: center;
        color: #fff;
        position: absolute;
        top: 10%;
        right: 5%;

        &:nth-of-type(2) {
          font: 400 40px/1 "Noto Sans CJK KR";
          text-align: center;
          color: #fff;
          position: absolute;
          top: 35%;
          right: 5%;
        }
      }

      span {
        display: inline-block;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 8%;
        right: 42%;

        &:nth-of-type(2) {
          top: 32%;
          right: 42%;
        }
      }
    }
  }
}
